extends layout

block content
    h1 Góry zdobyte przez #{climber.name} #{climber.surname}
    if mountains.length
        table.table.table-bordered.border-dark
            tr
                th Nazwa
                th Lokalizacja
                th Wysokość [m]
            each mountain in mountains
                tr
                    td 
                        a.link-success.link-underline-opacity-0(href=`/mountains/${mountain.id}`) #{mountain.name}
                    td #{mountain.location}
                    td #{mountain.height}
        h1 Suma 
            a #{mountains.length}
    else
        p Ten wspinacz nie zdobył żadnych gór.